<!-- <form method="post" enctype="multipart/form-data"></form> -->




<!DOCTYPE html>
<!-- Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sms Sender | POC</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="./css/style.css" rel="stylesheet" id="style-css">

</head>

<body>
    <div style="display:block;width:40%;margin:50px auto;">
        <div class="container">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Send Sms</label>

                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-primary">
                                Phone Number:
                            </span>
                        </span>
                        <input type="phone" class="form-control" name="phone" id="phone">
                    </div>
                </div>


                <div class="form-group">
                    <div class="input-group">
                        <textarea class="form-control" name="message" id="message" placeholder="Message" style="width:542px;height:150px;"></textarea>
                    </div>
                </div>


                <div style="display:block;margin:0 auto;width:30%">
                    <button class="btn btn-primary" value="Send SMS" style="padding-left: 20px;padding-right:20px;" id="send"> Send SMS</button>
                </div>

            </div>
        </div>
    </form>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="./js/home.js"></script>
</body>


</html>